.candidate-timeline2-item {
  float: left;
}
.rich .block--candidate-timeline2 .candidate-timeline2-item {
  padding: 0;
  width: 100vw;
}
.rich .block--candidate-timeline2 .timeline-stripe-even,
.rich .block--candidate-timeline2 .timeline-stripe-odd {
  background: none;
}
.block--news-item-type-post-block .block--news-item-type-post-content {
  border: 1px solid rgb(225, 232, 237);
  border-radius: 4px;
  padding: 0 5px;
  margin: 10px 0;
}
@media (min-width: 530px) {
  .rich .block--candidate-timeline2 .candidate-timeline2-item {
    width: 500px;
  }
  .timeline-content {
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media (min-width: 315px) {
  .block--news-item-type-post-block {
    padding: 0 15px;
  }
}

/* Custom menu */

.candidate-timeline2-inline-menu {
  display: none;
  position: absolute;
  right: 0;
  background: rgba(247,250,253,0.95);
  z-index: 10500;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  width: 300px;
}
.candidate-timeline2-inline-menu h2{
  font-size: 17px;
  line-height: 1.2;
  font-family: 'Helvetica-Roman',Helvetica,arial,sans-serif;
  font-weight: normal;
  padding: 0 15px;
}
.candidate-timeline2-load-more:before {
  content:"";
  display:table;
  clear:both;
}
@media (min-width: 1100px) {
  .candidate-timeline2-inline-menu {
    display: inherit;
  }
}
